<launch>

    <include file="$(find kaqi_description)/robots/upload_kaqi.launch" />
    <include file="$(find kaqi_description)/config/kaqi_analyzers.launch" />
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="robot_description" value="robot_description" />
        <param name="publish_frequency" value="50" />
        <param name="tf_prefix" type="string" value="" />
    </node>

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" >
        <param name="use_gui" value="true" />
    </node>

    <include file="$(find kaqi_description)/rviz/rviz.launch" />

</launch>
